[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "zsh/zsh.symlink/antigen"]
	path = zsh/zsh.symlink/antigen
	url = https://github.com/zsh-users/antigen.git
